<% content_for :title, @item.title %>
<% content_for :meta_description, @item.title %>
<% content_for :meta_author, @item.author_name %>

<section class="grid_2 day">
  <time datetime="<%= @item.created_at.to_s(:db) %>" pubdate="pubdate">
    <span class="date-day"><%= @item.created_at.strftime("%d") %></span><span class="date-month">.<%= @item.created_at.strftime("%m") %></span> <span class="date-year"><%= @item.created_at.strftime("%Y") %></span>
</time>
</section>
<section class="grid_8">
  <article>
    <header>
      <%= @item.title %><span><%= @item.author_name %></span>
    </header>
    <aside>
          <ul id="social-buttons">
            <li><a href="https://twitter.com/share" class="twitter-share-button" data-lang="uk">Твіт</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
          </ul>
    </aside>
    <section id="item-<%= @item.id %>-html"><%= @item.html.html_safe %></section>
    <section class="comments clearfix">
      <header class="grid_2"><a name="comments"></a><%= t(".comments") %></header>
      <section class="grid_6">
        <% for comment in @item.comments %>
          <%= render comment %>
        <% end %>
        <% if can?(:create, Comment) %>
          <section id="item-<%= @item.id %>-new-comment" class="new-comment">
            <%= render(:partial => "comments/new", :locals => { :item => @item, :comment => @item.comments.new }) %>
          </section>
          <p><%= link_to "#{icon_tag("comment-add")} #{t(".new_comment")}".html_safe, nil, :onclick => "$('#item-#{@item.id}-new-comment').slideDown('slow');$(this).hide('fast');return false;", :class => "link-with-icon" %></p>
        <% else %>
          <%= t(".please_sign_in_to_add_comment") %> <%= link_to t("layouts.application.sign_in"), sign_in_url %>
        <% end %>
      </section>
    </section>
  </article>
</section>
<section class="grid_2">
  <% if can?(:edit, @item) %>
  <ul class="admin-buttons">
    <%= content_tag :li, link_to("#{icon_tag("item-edit")} #{t(".edit")}".html_safe, edit_item_url(@item), :class => "link-with-icon") if can?(:edit, @item) %>
    <%= content_tag :li, link_to("#{icon_tag("item-remove")} #{t(".destroy")}".html_safe, item_url(@item), :method => :delete, :confirm => t("layouts.commons.destroy_confirmation", :subject => @item.title), :class => "link-with-icon") if can?(:destroy, @item) %>
  </ul>
  <% end %>
</section>
